@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@500&family=Roboto+Condensed:ital,wght@0,800;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    transition: 0.5s;
}

a {
    text-decoration: 0;
}

.header-home {
    background-color: #faf8f4;
    position: relative;
}
.img{
    width: 50px;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    margin:35px 0;
    text-transform: capitalize;
}

/*--Menu--*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    text-transform: capitalize;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin: 0px 20px;
}

header .logo-link {
    display: flex;
    align-items:center ;
    margin: auto;
    flex-direction: row;
}

.side a{
    color: #000;
    margin: 20px 10px 10px 10px;
    font-size: 15px;
}
 .menu-link a {
    margin: 20px 10px 10px 10px;
    font-size: 15px;
    color: #999;
 }

 .buttons-link a {
    margin-left: 10px;
 }
 .buttons-link a:first-child {
    color: #f26440;
 }

 .menu-link a:first-child {
    color: #f26440;
 }


 .orange-link {
    color: #fff;
    padding: 8px 30px;
    background-color: #f26440;
    border-radius: 4px;
    text-transform: capitalize;
 }

 .home {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    height: 500px;
    position:relative;
 }

 .home .left {
    width: 50%;
    display: flex;
    flex-direction: column;
 }
 .home .left p {
    margin: 25px 0;
    color: #999;
    letter-spacing: 0.5px;
    line-height: 25px;
 }

 .home .left .orange-link {
    width: fit-content;
    padding: 12px 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

 }

 .home .right {
    width: 45%;
 }

 .home .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.statistiques {
    position: absolute;
    bottom: -50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 20px 10%;
}

.statistiques span h2 {
    color: #f26440;
    font-size: 25px;
    margin-bottom: 10px;
}
.statistiques span p {
    color: #999;
    text-transform: capitalize;
}
/*about*/
.about {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding: 20px 5%;
}
.about .image {
    width: 55%;
    height: 400px;
}
.about .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .content {
    width: 40%;
}
.about .content {
    margin: 16px 0;
}
.about .content h2 {
    margin: 15px 0;
    color:#333;
}
.about .content p {
    color: #999;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 25px;
}

/*choice*/
.why_us {
    padding: 2px 10%;
    display: flex;
    flex-direction: column;
}
.why_us img {
    width: 60px;
}

.list_box {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,256px);
    grid-gap:10px;
}
.list_box .box {
    text-align: center;
    background-color: #faf8f4;
    border-radius: 4px;
    padding: 50px 25px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.list_box .box h2 {
    margin: 10px 0;
    color: #f26440;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.list_box .box p {
    color: #999;
}
/*decoration*/
.decoration {
    padding: 20px 10%;
    width: 100%;
} 
.deco-list {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 31.11%);
    gap: 30px;
}
.deco-list .deco img {
    width: 100%;
    object-fit: cover;
}
.deco-list .deco {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.deco-list .deco:hover {
    transform: scale(1.1);
}
.deco-list .deco p {
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.deco-list .deco span {
    font-size: 15px;
    color: #333;
}
.deco-list .deco .orange-link {
    margin-bottom: 5px;
    border: 1px solid #f26440;
    letter-spacing: 1px;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.deco-list .deco .orange-link:hover {
    background-color: transparent;
    color: #f26440;
}
/*footer*/
footer {
    margin-top: 60px;
    background-color: #faf8f4;
    height: auto;
    padding-top: 40px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     text-align: center;
}
.footer-content h1 {
    font-size: 50px;
    margin: 10px 0;
}
.footer-content p {
    max-width: 500px;
    margin: 20px 0;
    letter-spacing: 1px;
    font-size: 15px;
}
.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.social li {
    margin: 0 20px;
}
.social a {
    text-decoration: 0;
    color: #333;
    font-size: 20px;
    transition: 0.5s;
} 
.social a {
    color: #000;
}
.social a:hover{
    color: #000;
}
.footer-bottom {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
}
.footer-bottom p {  
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.footer-bottom span  {
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 200;
}

/*Responsive*/

@media (max-width:935px){
    header{
        padding: 20px;
        margin: 0;
        height: auto;
    }
    .lin_buttons {
        display: none;
    }
    .menu-link{
        
    }
}